/*
*
* Copyright (c) 2023 Camilo Martinez (Equiman)
* SPDX-License-Identifier: MIT
*
*/

#define MORPH_KAS(OS, LYR, NAME, DESC, MODS, KEY, KA, KS)         \
    mp_##OS##LYR##_##NAME##_s: morph_##OS##LYR##_##DESC##_shift { \
        compatible = "zmk,behavior-mod-morph";                    \
        #binding-cells = <0>;                                     \
        mods = <(MOD_LSFT|MOD_RSFT)>;                             \
        bindings = <KEY>, <KS>;                                   \
    };                                                            \
    mp_##OS##LYR##_##NAME: morph_##OS##LYR##_##DESC {             \
        compatible = "zmk,behavior-mod-morph";                    \
        #binding-cells = <0>;                                     \
        mods = <(MODS)>;                                          \
        bindings = <&mp_##OS##LYR##_##NAME##_s>, <KA>;            \
    };

#define MORPH_KA(OS, LYR, NAME, DESC, MODS, KEY, KA)    \
    mp_##OS##LYR##_##NAME: morph_##OS##LYR##_##DESC {   \
        compatible = "zmk,behavior-mod-morph";          \
        #binding-cells = <0>;                           \
        mods = <(MODS)>;                                \
        bindings = <KEY>, <KA>;                         \
        keep-mods = <(MOD_LALT)>;                       \
    };

#define MORPH_KS(OS, LYR, NAME, DESC, KEY, KS)          \
    mp_##OS##LYR##_##NAME: morph_##OS##LYR##_##DESC {    \
        compatible = "zmk,behavior-mod-morph";          \
        #binding-cells = <0>;                           \
        mods = <(MOD_LSFT|MOD_RSFT)>;                   \
        bindings = <KEY>, <KS>;                         \
    };
