        windows_base_layer {
            #define WB13  &hml LCMD    A
            #define WB14  &hml LCTRL   S
            #define WB15  &hml LALT    D
            #define WB16  &hml LSHFT   F

            #define WB19  &hmr RSHFT   J
            #define WB20  &hmr LALT    K
            #define WB21  &hmr RCTRL   L
            #define WB22  &hmr RCMD    SEMI

            #define WB35  &mp_w_stg

            #define WB36  &mp_w_dev
            #define WB38  &mo_wAXNwBAS_to_wAXN  0  0
            #define WB39  &mo_wAXNwBAS_to_wFNK  0  0
            #define WB41  &mp_w_dev

            display-name = "wBAS";
            bindings = <
    WKY_ESC  &kp Q  &kp W  &kp E  &kp R  &kp T                &kp Y  &kp U  &kp I  &kp O    &kp P  NAV_BSPC
    NAV_DEL   WB13   WB14   WB15   WB16  &kp G                &kp H   WB19   WB20   WB21     WB22   WKY_RET
    WKY_TAB  &kp Z  &kp X  &kp C  &kp V  &kp B                &kp N  &kp M &kp COMMA &kp DOT  &kp SQT   WB35
                             WB36  KEY_SPC   WB38             WB39   KEY_SPC      WB41
            >;
        };

        windows_dev_layer {
            #define WD13  &hml         LCMD    AMPS
            #define WD14  &hml         LCTRL   LBRC
            #define WD15  &hml         LALT    RBRC
            #define WD16  &hml         LSHFT   EQUAL

            #define WD19  &hmr         RSHFT   EXCL
            #define WD20  &hmr         LALT    LBKT
            #define WD21  &hmr         RCTRL   RBKT
            #define WD22  &hmr         RCMD    PIPE

            #define WD38  &mo_wAXNwDEV_to_wBAS  0  0
            #define WD39  &mo_wAXNwDEV_to_wAXN  0  0

            display-name = "wDEV";
            bindings = <
    WKY_ESC     &kp AT  &kp POUND  &kp DLLR    &kp PLUS  &kp DQT             &kp TILDE    &kp MINUS     &kp UNDER    &kp PRCNT    &kp CARET   NAV_BSPC
    NAV_DEL       WD13            WD14            WD15        WD16  &kp SQT             &kp GRAVE         WD19          WD20         WD21         WD22  WKY_RET
    WKY_TAB  &kp LC(R)        &kp LPAR        &kp RPAR   &kp ASTRK  &kp BSLH            &mp_wDEV_s   &kp QMARK        &kp LT       &kp GT  &mp_wDEV_ql   &kp F12
                                                &kp COMMA     KEY_SPC      WD38                  WD39      KEY_SPC        &kp DOT
            >;
        };

        windows_act_num_layer {
            #define WA01  &kp  LA(LS(RIGHT))          // tap: expand selection
            #define WA05  &kp  LC(F)                  // tap: find
            #define WA13  &hml LCMD   LA(LS(LEFT))    // tap: shrink selection
            #define WA14  &hml LCTRL  LEFT
            #define WA15  &hml LALT   DOWN
            #define WA16  &hml LSHFT  RIGHT
            #define WA17  &kp  LC(H)                  // tap: replace

            #define WA19  &hmr LSHFT  N4
            #define WA20  &hmr LALT   N5
            #define WA21  &hmr LCTRL  N6
            #define WA22  &hmr LCMD   EQUAL

            #define WA35  &hm  LG(LC(F4))  LG(LC(D))  // tap: create | hold: close (virtual desktop)

            #define WA38  &to_wBAS
            #define WA39  &mo_wFNKwAXN_to_wFNK    0 0

            #define WKY_UNDO   &kp RC(Z)       // tap: undo
            #define WKY_REDO   &kp RC(Y)       // tap: redo
            #define WKY_CUT    &kp RC(X)       // tap: cut
            #define WKY_COPY   &kp RC(C)       // tap: copy
            #define WKY_PASTE  &kp RC(V)       // tap: paste     | shift: paste without format

            display-name = "wAXN";
            bindings = <
    WKY_ESC      WA01  &mp_wa_prev    &kp UP  &mp_wa_next      WA05            &kp KP_PLUS   &kp N7  &kp N8  &kp N9  &kp KP_MULTIPLY   NAV_BSPC
    NAV_DEL      WA13         WA14      WA15         WA16      WA17                 &kp N0     WA19    WA20    WA21             WA22  WKY_RET
    WKY_TAB  WKY_UNDO      WKY_CUT  WKY_COPY    WKY_PASTE  WKY_REDO                &kp MINUS   &kp N1  &kp N2  &kp N3    &kp KP_DIVIDE      WA35
                                      &kp COMMA      KEY_SPC      WA38                   WA39  KEY_SPC  &kp DOT
            >;
        };

        windows_functions_layer {
            #define WK13  &hml LCMD   F5
            #define WK14  &hml LCTRL  F6
            #define WK15  &hml LALT   F7
            #define WK16  &hml LSHFT  F8

            #define WK19  &hmr RSHFT  HOME
            #define WK20  &hmr LALT   PG_DN
            #define WK21  &hmr RCTRL  END
            #define WK22  &kp RCMD

            #define WK38  &to_wBAS
            #define WK39  &to_wAXN

            display-name = "wFNK";
            bindings = <
    WKY_ESC  &kp F9  &kp F10  &kp F11  &kp F12  &none                  &none    &none  &kp PG_UP  &none  &none   NAV_BSPC
    NAV_DEL    WK13     WK14     WK15     WK16  &none                  &none     WK19       WK20   WK21   WK22  WKY_RET
    WKY_TAB  &kp F1   &kp F2   &kp F3   &kp F4  &none                  &none    &none      &none  &none  &none     &none
                               &kp COMMA  KEY_SPC   WK38                   WK39  KEY_SPC     &kp DOT
            >;
        };

        windows_settings_layer {
            #define WS10  &kp LG(LS(GRAVE))    // tap: fancy zones
            #define WS11  &kp LC(LS(ESC))      // tap: task manager
            #define WS12  &kp LG(SPACE)        // tap: input source
            #define WS24  &mp_sSTG_cb          // tap: none | shift: clear current profile | alt: clear all profiles

            #define WS22  &kp RG(PAUSE_BREAK)  // tap: system info
            #define WS23  &kp RG(I)            // tap: windows settings
            #define WS34  &kp LC(LA(DEL))      // tap: windows security

            #define WS04  &kp LG(LS(C))        // tap: color picker
            #define WS05  &kp RC(PLUS)         // tap: zoom in
            #define WS16  &mp_mSTG_screenshot
            #define WS17  &mp_wa_zoom_reset    // tap: zoom reset | shift: zoom reset on vscode
            #define WS28  &kp LG(E)            // tap: file explorer
            #define WS29  &kp RC(MINUS)        // tap: zoom out

            #define WS07  &kp LA(LG(SQT))      // tap: magnifier in
            #define WS18  &kp LA(LG(N8))       // tap: magnifier reset
            #define WS19  &hmr RSHFT  C_PREV
            #define WS20  &hmr LALT   C_PP
            #define WS30  &kp LA(LG(MINUS))    // tap: magnifier out

            #define WS03  &mp_sSTG_rgb_c       // tap: rgb colour forward | shift: colour back
            #define WS27  &mp_sSTG_rgb_t       // tap: rgb on/off | shift: next effect | alt: previous effect
            #define WS33  &mp_sSTG_rgb_u       // tap: brightness up | shift: brightness down | alt: saturation up
            #define WS35  &mp_sSTG_rgb_d       // tap: brightness down | shift: saturation down

            display-name = "wSTG";
            bindings = <
       WKY_ESC  &m_s_b1  &m_s_b2   WS03     WS04      WS05                   WS07  &kp C_VOL_DN    &kp C_MUTE  &kp C_VOL_UP  WS10   WS11
          WS12  &m_s_b3  &m_s_b4  &none     WS16      WS17                   WS18          WS19          WS20     &kp C_NEXT  WS22   WS23
          WS24  &m_s_b5  &m_s_b6   WS27     WS28      WS29                   WS30         &none         &none          WS33  WS34   WS35
                           &kp C_BRI_DN  &mp_boot_l  &to_wBAS            &to_wAXN    &mp_boot_r  &kp C_BRI_UP
            >;
        };

