// mp_mDEV_s
MORPH_KA(
    m,
    DEV,
    s,
    slash,
    MOD_LALT|MOD_RALT,
    &kp FSLH,      // tap:  /
    &kp LA(LS(A))  // alt:  /* block comment */
)

//mp_mDEV_ql
MORPH_KS(
    m,
    DEV,
    ql,
    question_logical,
    &m_md_oco,  // tap:    ?.
    &m_md_cto   // shift:  ?░:░
)
