//mp_wDEV_pound
MORPH_KA(
    w,
    DEV,
    pound,
    pound,
    MOD_LALT,
    &kp POUND,             // tap:  #
    &kp LC(LS(SEMICOLON))  // alt:  °
)

//mp_wDEV_money
MORPH_KA(
    w,
    DEV,
    money,
    money,
    MOD_LALT,
    &kp DLLR,   // tap:  $
    &kp LC(N5)  // alt:  €
)

//mp_wDEV_lb
MORPH_KA(
    w,
    DEV,
    lb,
    left_brackets,
    MOD_LALT,
    &kp LBKT,     // tap:  [
    &kp LC(LBKT)  // alt:  «
)

//mp_wDEV_rb
MORPH_KA(
    w,
    DEV,
    rb,
    right_brackets,
    MOD_LALT|MOD_RALT,
    &kp RBKT,     // tap:  ]
    &kp LC(RBKT)  // alt:  »
)

// mp_wDEV_s
MORPH_KA(
    w,
    DEV,
    s,
    slash,
    MOD_LALT|MOD_RALT,
    &kp FSLH,      // tap:  /
    &kp LA(LS(A))  // alt:  /* block comment */
)

//mp_wDEV_ql
MORPH_KS(
    w,
    DEV,
    ql,
    question_logical,
    &m_wd_oco,  // tap:    ?.
    &m_wd_cto   // shift:  ?░:░
)
