// mp_wDEV_s
MORPH_KA(
    w,
    DEV,
    s,
    slash,
    MOD_LALT|MOD_RALT,
    &kp FSLH,      // tap:  /
    &kp LA(LS(A))  // alt:  /* block comment */
)

//mp_wDEV_ql
MORPH_KS(
    w,
    DEV,
    ql,
    question_logical,
    &m_wd_oco,  // tap:    ?.
    &m_wd_cto   // shift:  ?░:░
)
