// mp_DEV_s
MORPH_KA(
    s,
    DEV,
    s,
    slash,
    MOD_LALT|MOD_RALT,
    &kp FSLH,      // tap:  /
    &kp LA(LS(A))  // alt:  /* block comment */
)

// mp_DEV_ql
MORPH_KS(
    s,
    DEV,
    ql,
    question_logical,
    &m_d_oco,  // tap:    ?.
    &m_d_cto   // shift:  ?░:░
)
